<section class="about-me">
  <h2 class="about-me__h2">
    Обо Мне
  </h2>
  <div class="hero">
    <div class="hero__ava_noborder">
      <img class="hero__img" src="./../assets/img/hero.jpg" alt="hero-img">
    </div>
  </div>
  <h4 class="about-me__who-i-am">
    Кто Я
  </h4>
  <p class="about-me__text">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, commodi!
  </p>
  <p class="about-me__text">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, commodi!
  </p>
</section>
