@import '../../../assets/source/mixins/mixins.scss';
.skils{
  text-align: center;
  padding-top: 40px;
  padding-left: 10px;
  padding-right: 10px;
  overflow: hidden;
  background: #20232A;
}
.skils__what-i-can{
  display: flex;
  flex-flow: column;
  margin-bottom: 10px;
  color: indianred;
  &:after{
    @include afterLine(grey);
  }
}
.skils__text{
  text-align: left;
  padding-left: 15px;
  margin-bottom: 50px;
  color: indianred;
}
// skils items
.skils__items{
  display: flex;
  flex-flow: column;
}
.skils__name{
  margin-bottom: 10px;
  text-align: left;
  color: #61DAFB;
}
.skils__items-ul{
  display: flex;
  flex-wrap: wrap;
}
.skils__item{
  position: relative;
  width: 120px;
  height: 120px;
  margin-right: 10px;
  margin-bottom: 10px;
  &:last-child{
    margin-right: 0px;
  }
}
.skils__item-name{
  position: absolute;
  top: 40%;
  left: 30%;
}
