.modal-menu{
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  background: darkslategrey;
  opacity: 0.8;
}
//section modal menu links
.modal-menu__nav{
  display: flex;
  flex-direction: column;
  min-height: 200px;
  min-width: 200px;
  z-index: 2;
}
.modal-menu__nav-item{
  align-self: center;
  padding: 20px;
  font-size: 30px;
}
.modal-menu__link{
  color: orange;
  &:hover{
    color: blue;
  }
}

// animation
@keyframes modal {
  0%{

  }
  100%{
    display: block;
  }
}
.modalAnim {
  animation: modal  2s;
}
