.autorize{
  display: flex;
  justify-content: flex-end;
  flex: 1;
  padding-top: 10px;
  padding-right: 10px;
  margin-bottom: 100px;
  .autirize__btn{
    height: 40px;
    background: grey;
    border-radius: 10px;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    &:hover{
      background: none;
      transition: 1s;
    }
  }
}
