<section class="blog">
  <app-header></app-header>
  <main class="main" *ngIf="posts.length !== 0">
    <!-- Navigation -->
   <nav class="links">
     <ul class="navigation__ul">
        <li *ngFor="let item of posts">
          <a href="blog#{{item.id}}" class="navigation__href">{{item.title}}</a>
        </li>
     </ul>
   </nav>
   <!-- Posts -->
   <article class="posts">
    <div class="post" *ngFor="let items of posts">
      <div class="post__title">
        <h3 class="post__header" id="{{items.id}}">{{items.title}}</h3>
        <span class="post__time">{{items.date}}</span>
      </div>
      <p class="post__text mini">
        {{items.content}}
        <a 
          class="posts__link" 
          href={{items.link}} 
          *ngIf="items.link !== undefined"
          target="_blank">перейти</a>
      </p>
      <button class="post__btn" (click)="showAll($event)">
          Читать полностью
      </button>
    </div>
   </article>
  </main>
  <div class="load" *ngIf="posts.length == 0">
    <img src=".././../assets/img/funny_loading.gif" alt="loading">
  </div>
  <app-footer></app-footer>
</section>