<div class="wrapper">
  <header class="header">
    <section class="header-top">
      <h1 class="header-top__h1">Панель администрироваия</h1>
      <div class="menu">
        <button class="btn-logout" (click)="logOut()">Выйти</button>
        <a routerLink="/" class="header-top__link">Вернутся на сайт</a>
      </div>
      
    </section>
    <nav class="header-tab">
      <ul class="header-tab__menu">
        <li class="header-tab__li">Обо мне</li>
        <li class="header-tab__li" routerLink="blog" routerLinkActive="active">Блог</li>
        <li class="header-tab__li" routerLink="work" routerLinkActive="active">Мои работы</li>
      </ul>
    </nav>
  </header>
  <main class="content">
    <router-outlet></router-outlet>
  </main>
</div>
