<div class="wrapper-welcom">
  <!-- Background video -->
  <!-- <video class="video" autoplay poster="../../assets/img/mac.jpg" loop>
    <source src="../../assets/img/island_sunrise.mp4">
  </video> -->
  <!-- Background video end-->
  <div class="paralax-wrap">
    <i class="fa fa-code fa-3x" aria-hidden="true" #content></i>
  </div>
  <app-autorize></app-autorize>
  <div class="welcome-content">
    <app-welcome-main *ngIf="!isVisible"></app-welcome-main>
    <app-welcome-autorize *ngIf="isVisible"></app-welcome-autorize>
  </div>
</div>
