<section class="works">
  <h3 class="content__h3">Страница "Мои работы"</h3>
  <form class="form">
    <p class="form__header">Добавить работу</p>
    <input type="text" class="form__input-text" placeholder="название проэкта">
    <input type="text" class="form__input-text" placeholder="технологии">
    <label for="input">
      <input type="file" id="input">
      <i class="fa fa-file-image-o fa-2x" aria-hidden="true"></i>
      <span class="input__span">Загрузите картинку</span>
    </label>
    <button class="form__button">Добавить</button>
  </form>
</section>
