/* You can add global styles to this file, and also import other style files */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  position: relative;
  min-height: 100vh;
}
a{
  text-decoration: none;
  display: block;
  cursor: pointer;
}
li{
  list-style: none;
}
.has-error{
    border: 2px solid red;
  }
.form-help-text{
  float: left;
  width: 100%;
  font-family: "911", "Agency FB", verdana, helvetica, sans-serif;
  color: whitesmoke;
  text-align: center;
}
.text-success{
  color: green;
  text-align: center;
}
.btn-err{
  cursor: not-allowed;
  pointer-events: none;
  /*Button disabled - CSS color class*/
  color: #c0c0c0;
  background-color: #ffffff;
  opacity: 0.6;
}