.footer{
  position: absolute;
  bottom: 0;
  display: flex;
  flex-flow: column;
  width: 100%;
  align-content: center;
  background:  rgba(0, 0, 0, 0.7);
}
//footer navigation
.footer__navigation{
  display: flex;
  flex: 2;
  padding: 5px 0 5px 0;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: center;
}
.footer-menu__nav{
  display: flex;
  flex-flow: row;
  margin-bottom: 15px;
}
.footer-menu__nav-item{
  padding: 5px;
  background: grey;
  margin-right: 5px;
  &:last-child{
    margin-right: 0px;
  }
}
.footer-menu__link{
  display: flex;
  align-items: center;
  text-align: center;
  color: white;
  height: 100%;
  &:hover{
    background: #000;
    color: orangered;
  }
}
// copiright
.footer__copiright{
  display: flex;
  flex: 1;
  padding: 5px 0 5px 0;
  justify-content: center;
  align-items: center;
  background:  rgba(24, 241,245, 0.5);
  a{
    width: 150px;
    color: black;
    &:hover{
      color: white;
    }
  }
}
// upp arrooowv
.map-contant__upp{
  display: flex;
}
.map-contant__upp_wrapp{
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  background:  rgba(0, 0, 0, 0.7);
}
// animation upp
@keyframes upp {
  from{
    transform: translate3d(0,0px,0);
  }
  to{
    transform: translate3d(0,-10px,0);
  }
}
.fa{
  animation: upp 1s ease-out infinite;
  color: orangered;
}
