<ul class="social">
  <li class="social__item">
    <a class="social__link" href="https://www.facebook.com/profile.php?id=100010815317747" target="blank">
      <i class="fa fa-facebook-square fa-2x icon"></i>
    </a>
  </li>
  <li class="social__item">
    <a class="social__link" href="skype:paukan51?chat">
      <i class="fa fa-skype fa-2x icon"></i>
    </a>
  </li>
  <li class="social__item social__item_git">
    <a class="social__link" href="https://github.com/itolog" target="blank">
      <i class="fa fa-github fa-2x icon"></i>
    </a>
  </li>
</ul>
